.gallery__image {
  @include large {
    position: relative;
  }

  img {
    display: block;
    width: 100%;
  }

  &:hover > .gallery__image--caption {
    opacity: 1;
  }
}

.gallery__image--caption {
  position: absolute;
  font-size: 14px;

  @include medium {
    padding: 10px 15px;
    color: $white;
    background-color: rgba(0,0,0,0.4);

    &.top {
      top: 0;
    }
    &.left {
      left: 0;
      padding-right: 30%;
    }
    &.right {
      right: 0;
      text-align: right;
      padding-left: 30%;
    }
    &.bottom {
      bottom: 0;
    }
  }

  @include large {
    opacity: 0;
    transition: opacity 0.3s;
  }
}