$header-height: 70px;

.site_header {
  height: $header-height;
  padding: 8px $spacer-small;
  display: flex;
  background-color: $background-color;
  margin-bottom: $spacer-large;

  @include medium {
    margin-bottom: $spacer-huge;
    padding: 8px $spacer-medium;
  }
}

.header_logo {
  height: 100%;
  margin-right: auto;

  img {
    height: 100%;
    width: auto;
  }
}

.header_nav--list-item a {
  color: $white;
  font-weight: $bold;
  padding: 12px 10px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: $accent-color;
  }
}