$header-height: 70px;

.site__header {
  height: $header-height;
  padding: 8px $spacer-small;
  display: flex;
  background-color: $background-color;
  margin-bottom: $spacer-large;

  @include medium {
    margin-bottom: $spacer-huge;
    padding: 8px $spacer-medium;
  }
}

.header__logo {
  height: 100%;
  margin-right: auto;

  img {
    height: 100%;
    width: auto;
  }
}