$caption-padding: 30px;

.gallery {
  @include up-to-large {
    position: relative;
  }

  &__container {
    @include up-to-large {
      overflow: hidden;
      height: calc(300px + #{$caption-padding});
      position: relative;
    }

    @include only-medium {  
      width: 400px;
      height: 300px;
      margin: 0 auto;
    }
  }

  &__image--caption {
    @include only-small {
      height: $caption-padding;
      bottom: 0;
    }
  }

  &__button {
    position: absolute;
    top: calc(50% - #{$caption-padding}/2);
    transform: translateY(-50%);
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;

    &:hover {
      background-color: $accent-color;
    }

    @include medium {
      color: $black;
      top: 50%;
    }

    &.prev {
      left: 0;
      @include medium {
        left: calc(50% - 241.59px);
      }
    }

    &.next {
      right: 0;
      @include medium {
        right: calc(50% - 241.59px);
      }
    }

    @include large {
      display: none;
    }
  }

  &__image {
    @include up-to-large {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      transition-duration: .4s;
      opacity: 1;

      img {
        height: 300px;
      }

      &:not(.active) {
        transform: translateX(-100%);
      }

      &.active {
        transform: translateX(0);
        opacity: 1;
  
        ~ .gallery__image {
          transform: translateX(100%);
        }
      }
    }
  }
}