body {
  font-family: $main-font;
  color: $text-color;
}

a {
  color: $text-color-light;
}

h1 {
  font-weight: $bold;
  font-size: 26px;
  margin-bottom: 8px;
  color: $black;
}

h2 {
  font-weight: $medium-bold;
  font-size: 18px;
  color: $black;
  line-height: 1.2;
}

p {
  margin-bottom: $spacer-small;
  line-height: 1.2;
}